@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
	height:100%;
    width:100%;
	background:#000;
		color:hsl(0,0%,95%);
	content:''
}   
.animate {
	position: absolute;
	margin: 0;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding: 0;
	background: #000;
	border: 0;
}
.animate:before {
	width:100%;
	display:flex;
	align-items:center;
	justify-content: center;
	font-size: 10vw;
	height:100%;
	content: 'somewhere';
	animation-name: animate;
	animation-duration: 7s;
	animation-delay: 0s;
    font-family: 'Source Sans Pro', sans-serif;
}
   
@keyframes animate {
	0% {
		content: 'What';
		background:#000;
		color:hsl(0,0%,95%);
	}
	2% {
		content: 'is';
		background:#FFF;
		color:hsl(0,0%,5%);
	}
	4% {
		content: 'the';
		background:#000;
		color:hsl(0,0%,95%);
	}
	6% {
		content: 'most';
		background:#FFF;
		color:hsl(0,0%,5%);
	}
	8% {
		content: 'resilient';
		background:#000;
		color:hsl(0,0%,95%);
	}
	12.8% {
		content: 'parasite?';
		background:#FFF;
		color:hsl(0,0%,5%);
	}
	17.6% {
        content: 'Bacteria ?';
		background:#000;
		color:hsl(0,0%,95%);
	}
	22.4% {
        content: 'A virus?';
		background:#FFF;
		color:hsl(0,0%,5%);
	}
	27.2% {
        content: 'An intestinal worm?';
		background:#000;
		color:hsl(0,0%,95%);
	}
	32% {
        content: 'An idea.';
		background:#FFF;
		color:hsl(0,0%,5%);
	}
	54% {
        content: 'Resilient...';
		background:#000;
		color:hsl(0,0%,95%);
	}
	56% {
        content: 'Once';
		background:#000;
		color:hsl(0,0%,95%);
	}
	58% {
        content: 'an';
		background:#FFF;
		color:hsl(0,0%,5%);
	}
	60% {
		content: 'idea';
		background:#000;
		color:hsl(0,0%,95%);
	}
	62% {
		content: 'has';
		background:#FFF;
		color:hsl(0,0%,5%);
	}
	64% {
		content: 'taken';
		background:#000;
		color:hsl(0,0%,95%);
	}
	66% {
		content: 'hold';
		background:#FFF;
		color:hsl(0,0%,5%);
	}
	68% {
		content: 'of';
		background:#000;
		color:hsl(0,0%,95%);
	}
	70% {
		content: 'the';
		background:#FFF;
		color:hsl(0,0%,5%);
	}
	72% {
		content: 'brain';
		background:#000;
		color:hsl(0,0%,95%);
	}
	74% {
		content: 'its';
		background:#FFF;
		color:hsl(0,0%,5%);
	}
	76% {
		content: 'almost';
		background:#000;
		color:hsl(0,0%,95%);
	}
	78% {
		content: 'impossible';
		background:#FFF;
		color:hsl(0,0%,5%);
	}
	80% {
		content: 'to';
		background:#000;
		color:hsl(0,0%,95%);
	}
	82% {
		content: 'eradicate.';
		background:#FFF;
		color:hsl(0,0%,5%);
	}
	84% {
		content: 'An idea';
		background:#000;
		color:hsl(0,0%,95%);
	}
	86% {
		content: 'that is';
		background:#FFF;
		color:hsl(0,0%,5%);
	}
	88% {
		content: 'fully formed';
		background:#000;
		color:hsl(0,0%,95%);
	}
	90% {
		content: 'fully understood';
		background:#FFF;
		color:hsl(0,0%,5%);
	}
	92% {
		content: 'that sticks';
		background:#000;
		color:hsl(0,0%,95%);
	}
	94% {
		content: 'right';
		background:#FFF;
		color:hsl(0,0%,5%);
	}
	96% {
		content: 'in';
		background:#000;
		color:hsl(0,0%,95%);
	}
	98% {
		content: 'there';
		background:#FFF;
		color:hsl(0,0%,5%);
	}
}